REACT_APP_API_KEY="AIzaSyDTRoX5WfXhtOMlCieWqv79-HgBKauMLYs"
REACT_APP_AUTH_DOMAIN="smart-irrigation-57099.firebaseapp.com"
REACT_APP_PROJECT_ID="smart-irrigation-57099"
REACT_APP_STORAGE_BUCKET="smart-irrigation-57099.appspot.com"
REACT_APP_MESSAGING_SENDER_ID="42037181616"
REACT_APP_APP_ID="1:42037181616:web:05855bb52d5d66103b4f75"
REACT_APP_MEASUREMENT_ID="G-9GRSCBEKXR" 